*.sdf
*.sln
*.suo
*.filters
*.user
bin/*
build/
*.opensdf
*.vcxproj
*.filters
*.user
*.vsp
*.psess
*.make
Makefile
My Amplifier XE Results*
*.orig
My Inspector XE Results - bsplib/
My Advisor XE Results - bsplib/
My Advisor XE Results - bench/
test/My Inspector XE Results - *
bsp/My Advisor XE Results *
test/My Advisor XE Results *
docs/docs/.vscode/
*.ipgset
*/.vscode
*Makefile