-- artifacts
bin/*
test/obj/*
test/bin/*

-- zpm
.config.json
.config.yml

-- git
*.orig

-- make
Makefile
*.make

-- visual studio code
*/.vs/*

-- visual studio
*.sdf
*.sln
*.suo
*.VC.*
*.opensdf
*.vcxproj*

-- Intel Tools
*Amplifier*

-- Docs
*.chi
*.chm

-- Astyle
.astylerc