-- artifacts
bin/*
test/obj/*
test/bin/*

-- zpm
.config.json

-- git
*.orig

-- make
Makefile
*.make

-- visual studio code
*/.vs/*

-- visual studio
*.sdf
*.sln
*.suo
*.VC.*
*.opensdf
*.vcxproj*

-- Intel Tools
*Amplifier*

-- Docs
*.chi
*.chm

-- ZPM 
extern/
assets/
test/extern
test/assets
edupack/bin/*
*.lock
@bin/*
@obj/*
test/@bin/*
test/@obj/*
